:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-style: italic;
  background-size: 20%;
  color: rgb(173, 32, 32);
  font-size: 3.2em;
  line-height: 2.1;
}

h2{
font-style: oblique;
}

h3{
font-size: x-large;
font-style: initial;
color: #646cff;
}

h4{
  background-image: url("https://as01.epimg.net/meristation/imagenes/2020/02/13/header_image/325721831581622551.jpg");
}

.card {
  padding: 2em;
}

#app {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px black;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #cd4a4a;
    border-color: #747bff;
  }
}
img{
  width: 40%;
  height: 40%;
}
article{
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 16px;
}
input{
  width: 55%;
  height: 50%;
}
div{
  border-color: #1a1a1a;
}
*{
  box-sizing: border-box;
}
 
.loader-container{
  position: relative;
  width: 60px;
  height: 60px;
  margin: 10px;
}
 
.loader-container .loader{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 60%;
  border: solid 4px transparent;
  border-top-color: #f1dd08;
  border-left-color: #f1dd08;
  border-radius: 50%;
  animation: loader 1.4s linear infinite;
}
 
.loader-container .loader2{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  height: 40%;
  border: solid 4px transparent;
  border-top-color: #f1dd08;
  border-left-color: #f1dd08;
  border-radius: 50%;
  animation: loader2 1.2s linear infinite;
}
 
@keyframes loader{
  0%{
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100%{
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
 
@keyframes loader2{
  0%{
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100%{
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}